<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <style type="text/css">
      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-stretch: 100%;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2)
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-stretch: 100%;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2)
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-stretch: 100%;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2)
          format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }
    </style>
  </head>

  <body>
    <table
      align="center"
      border="0"
      cellspacing="0"
      cellpadding="0"
      height="872"
      width="600"
      class="table-body"
      style="padding: 0; margin: 0; background: #fefefe"
    >
      <tr
        height="96"
        align="center"
        valign="middle"
        style="padding: 0; margin: 0"
      >
        <td
          class="table-header"
          style="padding: 0; margin: 0; background: #f7fafd"
        >
          <table
            border="0"
            cellspacing="0"
            cellpadding="0"
            style="padding: 0; margin: 0"
          >
            <tr style="padding: 0; margin: 0">
              <td
                class="table-cell"
                align="center"
                valign="middle"
                style="padding: 0; margin: 0"
              >
                <img
                  width="118"
                  height="48"
                  src="cid:{{logo_cid}}"
                  alt="deps-logo"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr
        align="center"
        valign="top"
        class="table-main"
        style="padding: 0; margin: 0; background: #fefefe"
      >
        <td style="padding: 0; margin: 0">
          <table
            border="0"
            cellspacing="0"
            cellpadding="0"
            style="padding: 0; margin: 0"
          >
            <tr style="padding: 0; margin: 0">
              <td
                class="table-cell table-main__cell"
                align="center"
                style="padding: 24px 0px 0px 0px; margin: 0"
              >
                <h1
                  class="text text--l color-dark-80"
                  style="
                    padding: 0;
                    margin: 0;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 44px;
                    color: #303030;
                  "
                >
                  Welcome to DEPS
                </h1>
              </td>
            </tr>
            <tr style="padding: 0; margin: 0">
              <td
                class="table-cell table-main__cell"
                align="center"
                style="padding: 24px 0px 0px 0px; margin: 0"
              >
                <table
                  width="520"
                  border="0"
                  cellspacing="0"
                  cellpadding="0"
                  style="padding: 0; margin: 0"
                >
                  <tr style="padding: 0; margin: 0">
                    <td
                      class="table__cell text text--m color-dark-80 table-main__cell--text"
                      style="
                        padding: 0;
                        margin: 0;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        line-height: 22px;
                        color: #303030;
                        text-align: left;
                      "
                    >
                      Dear User,
                    </td>
                  </tr>
                  <tr style="padding: 0; margin: 0">
                    <td
                      class="table__cell text text--m color-dark-80 table-main__cell table-main__cell--text"
                      style="
                        padding: 24px 0px 0px 0px;
                        margin: 0;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        line-height: 22px;
                        color: #303030;
                        text-align: left;
                      "
                    >
                      Welcome to DEPS document processing platform for
                      optimizing your business via smart data extraction.
                    </td>
                  </tr>
                  <tr style="padding: 0; margin: 0">
                    <td
                      class="table__cell text text--m color-dark-80 table-main__cell table-main__cell--text"
                      style="
                        padding: 24px 0px 0px 0px;
                        margin: 0;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        line-height: 22px;
                        color: #303030;
                        text-align: left;
                      "
                    >
                      We are pleased to inform you that you have been invited by
                      {{inviter}} to the {{organisation}} organization.
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr style="padding: 0; margin: 0">
              <td
                class="table-cell table-main__cell--image"
                align="center"
                style="padding: 32px 0px 0px 0px; margin: 0"
              >
                <img
                  width="520"
                  height="280"
                  src="cid:{{hero_image_cid}}"
                  alt="deps-hero-image"
                />
              </td>
            </tr>
            {% if vpn_disclaimer %}
              <tr style="padding: 0; margin: 0">
                <td
                  align="center"
                  style="padding: 24px 0px 0px 0px; margin: 0"
                >
                  <table
                    width="520"
                    border="0"
                    cellspacing="0"
                    cellpadding="0"
                    style="padding: 0; margin: 0"
                  >
                    <tr style="padding: 0; margin: 0">
                      <td
                        style="
                          padding: 0;
                          margin: 0;
                          font-family: 'Open Sans',sans-serif;
                          font-size: 12px;
                          font-weight: 600;
                          line-height: 18px;
                          color: #657990;
                          text-align: left;
                        "
                      >
                        {{vpn_disclaimer}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            {% endif %}
            <tr style="padding: 0; margin: 0">
              <td
                class="table-main__cell--button"
                align="center"
                style="padding: 24px 0px 24px 0px; margin: 0"
              >
                <table
                  cellpadding="0"
                  cellspacing="0"
                  width="164"
                  border="0"
                  style="
                    border-collapse: separate !important;
                    padding: 0;
                    margin: 0;
                  "
                >
                  <tr style="padding: 0; margin: 0">
                    <td
                      class="text text--m button__cell-wrapper"
                      style="
                        padding: 5px 16px;
                        margin: 0;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        line-height: 22px;
                        border-radius: 4px;
                        text-align: center;
                        color: #ffffff;
                        border: solid 1px #3980e8;
                        background-color: #3980e8;
                      "
                    >
                      <a
                        href="{{invitation_link}}"
                        class="text text--m button__link"
                        style="
                          font-family: 'Open Sans', sans-serif;
                          font-size: 14px;
                          line-height: 22px;
                          color: #ffffff;
                          text-decoration: none;
                        "
                        >Join to organization
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr
        class="table-footer"
        style="padding: 0; margin: 0; background: #f7fafd"
      >
        <td
          height="132"
          align="center"
          valign="middle"
          style="padding: 0; margin: 0"
        >
          <table
            width="520"
            align="center"
            valign="middle"
            border="0"
            cellspacing="0"
            cellpadding="0"
            style="padding: 0; margin: 0"
          >
            <tr style="padding: 0; margin: 0">
              <td
                class="table-cell"
                align="center"
                style="padding: 0; margin: 0"
              >
                <span
                  class="text text--m color-dark-50"
                  style="
                    font-family: 'Open Sans', sans-serif;
                    font-size: 14px;
                    line-height: 22px;
                    color: #7a7474;
                  "
                >
                  {% if user_guide_link %}
                    To learn more about how to use DEPS, please read
                    <a
                      href="{{user_guide_link}}"
                      class="color-blue-70 text__link"
                      style="color: #3980e8; text-decoration: none"
                    >
                    User Guide.
                    </a>
                    <br>
                  {% endif %}
                  If you have any questions about our application or
                  facing issues while using it, please contact
                  <a
                    href="mailto:{{support_email}}"
                    class="color-blue-70 text__link"
                    style="color: #3980e8; text-decoration: none"
                  >
                    {{support_email}}.
                  </a>
                </span>
              </td>
            </tr>
            <tr valign="top" style="padding: 0; margin: 0">
              <td
                class="table-cell footer-text__links"
                style="padding: 24px 0px 0px 0px; margin: 0"
              >
                <table
                  valign="middle"
                  border="0"
                  cellspacing="0"
                  cellpadding="0"
                  width="100%"
                  style="padding: 0; margin: 0"
                >
                  <tr style="padding: 0; margin: 0">
                    <td
                      width="50%"
                      class="footer-text__left"
                      style="
                        padding: 0px 8px 0px 0px;
                        margin: 0;
                        text-align: right;
                      "
                    >
                      <a
                        href="https://privacy.epam.com/core/interaction/showpolicy?type=CommonPrivacyPolicy&country=EN"
                        target="_blank"
                        class="text text--s text__link color-blue-70 text__link--underlined"
                        style="
                          font-family: 'Open Sans', sans-serif;
                          font-size: 12px;
                          font-weight: 600;
                          line-height: 16px;
                          color: #3980e8;
                          text-decoration: underline;
                        "
                        >Privacy Policy
                      </a>
                    </td>
                    <td
                      width="50%"
                      class="footer-text__right"
                      style="
                        padding: 0px 0px 0px 8px;
                        margin: 0;
                        text-align: left;
                      "
                    >
                      <a
                        href="https://privacy.epam.com/core/interaction/showpolicy?type=CommonCookiePolicy&country=EN"
                        target="_blank"
                        class="text text--s text__link color-blue-70 text__link--underlined"
                        style="
                          font-family: 'Open Sans', sans-serif;
                          font-size: 12px;
                          font-weight: 600;
                          line-height: 16px;
                          color: #3980e8;
                          text-decoration: underline;
                        "
                        >Cookie Policy
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
